a:hover{
    color: #e9006d !important;
}
#header{
    width: 100%;
    height: 60px;
    background-color: #f2f2f2;
}
.headerIn{
    width: 1200px;
    height: 60px;
    background-color: #f2f2f2;
    margin: 0 auto;
}

.headerIn>.headerAdder{
    position: relative;
    z-index: 999;
}
.headerIn>.headerAdder>span{
    color:#6b6b6b;
    display: inline-block   ;
    transform: translateY(20px);
    cursor: pointer;
}

.headerNav>ul{
    float: right;
}
.headerNav>ul>li{
    float: left;
    
}
.headerNav>ul>li>a{
    color:#797979;
}

.pullDownAdd{
    width: 400px;
    height: 400px;
    background-color: #fff;
    border: 1px solid #797979;
    position: absolute;
    left: 0px;
    top: 40px;
    padding: 20px;
    display: none;
 
}

.pullDownAdd>p{
    color:#797979;
    margin-bottom: 20px;
}
.pullDownAdd>p:nth-child(2){
    display: inline-block;
    width: 60px;
    height: 30px;
    color: #000;
    line-height: 30px;
    text-align: center;
    border-top: 3px solid #e9006d;
    border-left:1px solid #797979 ;
    border-right:1px solid #797979 ;
}
.pullDownAdd>span{
    margin-top: 20px;
    display: inline-block;
    width: 330px;
    border-bottom: 1px solid #797979 ;
    transform: translateY(10px);
}
.pullCity>span{
    display: inline-block;
    width: 60px;
    height: 20px;
    margin-left: 30px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 16px;
    color: #797979;
}
.pullCityClose{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 60px;
    left: 425px;
    z-index: 100;
    cursor: pointer;
    color: #fff;
}
.pullCity>span:hover{
    border: 1px solid #e9006d;
    cursor: pointer;
}

.pullCity>.active{
    background-color: #e9006d;
    
}
.pullCity>span:nth-child(1){
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20px;
    height: 20px;
    text-align: center;
    border: none;
    
}
.headerNav>ul>li>a{
    padding-left: 5px;
    padding-right: 5px;
}
.headerNav>ul>li:nth-child(1){
    position: relative;

}
.headerNav>ul>li:nth-child(1):hover .pullDownLogin{
    display: block;
}
.pullDownLogin{
    background-color: #fff;
    position: absolute;
    top: 20px;
    left: 0px;
    width: 200px;
    height: 100px;
    border: 1px solid #797979;
    padding: 10px;
    z-index: 9;
    display: none;
}
.pullDownLogin  a{
    color: #aaa;
}
.headerNav>ul>li:nth-child(3){
    position: relative;
}
.headerNav>ul>li:nth-child(3):hover .pullDownSign{
    display: block;
}
.headerNav>ul>li>.pullDownSign{
    width: 300px;
    height: 30px;
    border: 1px solid #aaa;
    position: absolute;
    top: 20px;
    left:-130px;
    color: #aaa;
    display: none;
}
.headerNav>ul>li>.pullDownSign>a{
    color: #aaa;
    font-size: 12px;
}
.headerNav>ul>li>.pullDownSign>button{
    background-color: #e9006d;
    border: none;
    float: right;
    width: 60px;
    height: 30px;
}
.headerNav>ul>li:nth-child(5),.headerNav>ul>li:nth-child(6),.headerNav>ul>li:nth-child(7),.headerNav>ul>li:nth-child(8),.headerNav>ul>li:nth-child(9){
    position: relative;

}
.headerNav>ul>li>.pullDownBuy{
    width: 80px;
    border: 1px solid #aaa;
    position: absolute;
    top: 20px;
    left: 0px;
    display: none;
    background-color: #fff;
}
.headerNav>ul>li:nth-child(5):hover .pullDownBuy{
    display: block;
    z-index: 1;
}
.headerNav>ul>li>.pullDownClub{
    width: 80px;
    border: 1px solid #aaa;
    position: absolute;
    top: 20px;
    left: 0px;
    display: none;
    background-color: #fff;
}
.headerNav>ul>li:nth-child(6):hover .pullDownClub{
    display: block;
}
.headerNav>ul>li>.pullDownServe{
    width: 80px;
    border: 1px solid #aaa;
    position: absolute;
    top: 20px;
    left: 0px;
    display: none;
    background-color: #fff;
   
}
.headerNav>ul>li:nth-child(7):hover .pullDownServe{
    display: block;
    z-index: 1;
}
.headerNav>ul>li>.pullDownPhone{
    position: absolute;
    top: 20px;
    left: 0px;
    border: 1px solid #aaa;
    display: none;
    background-color: #fff;
}
.headerNav>ul>li:nth-child(8):hover .pullDownPhone{
    display: block;
    z-index: 1;
}
.headerNav>ul>li>.pullDownPhone>img{
    width: 200px;
    height: 220px;
}
.headerNav>ul>li>.pullDownMore{
    position: absolute;
    top: 20px;
    left: -250px;
    width: 300px;
    height: 200px;
    border: 1px solid #aaa;
    padding: 20px;
    box-sizing: border-box;
    display: none;
    background-color: #fff;
}
.headerNav>ul>li:nth-child(9):hover .pullDownMore{
    display: block;
    z-index: 1;
}
.headerNav>ul>li>.pullDownMore>h1:nth-child(1){
    border-bottom: 1px dotted #aaa;

}
.headerNav>ul>li>.pullDownMore>h1{
    padding: 20px;
}


/* search */




#search{
    width: 100%;
    height: 150px;
    background-color: #fff;
}
.searchIn{
    width: 1300px;
    height: 150px;
    margin: 0 auto;
}
.searchIn>.searchLogo>img{
    width: 300px;
    height: 150px;
    margin-left: -35px;
}
.searchIn>.searchLogo{
    float: left;
}
.searchIn>.searchLogo>span{
    display: inline-block;
    margin-left: 20px;
    transform: translateY(-70px);
    color: #aaa;
}
.searchIpt{

    float: right;   
}
.searchIpt>.searchIptCen{
    transform: translateY(50px);
}
.searchIptCen>input{
    width: 300px;
    height: 30px;
    border-right:none ;
}
.searchIptCen>button{
    margin-right: 40px;
    width: 50px;
    height: 34px;
    color: #fff;
    font-size: 22px;
    transform: translateY(1px);
    border-left: none;
    background-color: #f40071;
}
.searchIptCen>span{
    display: inline-block;
    width: 100px;
    height: 30px;
    background-color: #f4f5f9;
    text-align: center;
    line-height: 30px;
    color: #555557;
    cursor: pointer;
}


/* nav */

#nav{
    width: 100%;
    height: 60px;
    background-color: #fff;
    position: relative;
    z-index: 20;
}
.navFixed{
    position: fixed !important;
    top: 0px;
    border: 1px solid #aaa;
    text-align: center;
    background-color: #fff;
}
.navIn{
    width: 1300px;
    height: 60px;
    /* background-color: red; */
    margin: 0 auto;
}
.navIn>ul{
    width: 1300px;
    display: flex;
    justify-content: space-around;
}
.navIn>ul>li{
    line-height: 55px;
    color: #636363;
}

.navIn>ul>li>a{
    line-height: 50px;
    color: #636363;
}
.navIn>ul>li:nth-child(1)>.navShopList{
    display: none;   
}
.navIn>ul>li:nth-child(1){
   width: 200px;
   /* height: 650px; */
   background-color: #f40071;
   text-align: center;
   color: #fff;
   font-size: 25px;
   line-height: 55px;
   position: relative;
}

#nav .navShopList>li>a{
    font-size: 14px;
    color: #fff;
}
.navIn>ul>li:nth-child(1)>.navShopContent{
    width: 800px;
    height: 460px;
    position: absolute;
    top: 81px;
    left: 200px;
    overflow: auto;
    background: #fff;
    display: none;    
    
}

.navShopList li:hover {
    background-color: #fff;
}
.navShopContent>p{
    text-align: left;
}
.navShopContent>p>span:nth-child(1){
    color: black;
    font-size: 14px;
    margin-left: 20px;
    line-height: 25px;
}
#nav .navShopContent>p>span:nth-child(2)>a{
    color: #aaa;
    font-size: 14px;
    margin-left: 10px;
    line-height: 20px;
}
/* select  */
#select{
    width: 100%;

}
#select>div{
    width: 1300px;
    height: 500px;
    margin: 0 auto;
}
#select>div>img{
    width: 100%;
    height: 100%;
}



/* matter */

#box{
    width: 1300px;
    border: 1px solid black;
    margin: 0 auto;
   
}
.search{
    margin: 50px auto;
    display: inline-block;
    width: 800px;
    height: 30px;
}
#box>#content{
    width: 200px;
    height: 340px;
    padding: 10px;
    margin: 10px;
    float: left;
    background-color: rgba(0, 0, 0, 0.1);
}
#content{
    cursor: pointer;
}
#content>img{
    width: 100%;
    height: 250px;
    
}
#content>img:hover{
    border: 1px solid red;
}
.text>a:nth-child(1){
    display: block;
    color: red;
}
.text>a:nth-child(2){
    display: block;
    font-size: 12px;
    color: gray;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.text>a:nth-child(3){
    float: left;
    font-size: 12px;
    color: gray;
}
.text>span{
    float: right;
    font-size: 12px;
    color: gray;
}
.shop{
    margin: 20px;
    width: 120px;
    height: 30px;
    text-align: center;
    background-color: red;
}





/* footer */


#footer{
    background-color: rgb(252, 252, 252);
    width: 1300px;
    height: 600px;
    margin: 0 auto;
}
#footer>img{
    width: 1300px;
    height: 600px;
}